.faq {
  padding-top: 65px;
  padding-bottom: 55px;
  background-image: linear-gradient(var(--fon)), url(../img/faq-fon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--inversion);
}

.faq-title {
  margin-right: 22px;
}

.faq-subtitle {
  margin-top: 30px;
  margin-bottom: 51px;
}

.faq-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 423px;
  height: 100%;
}

.faq-inp {
  height: 46px;
  border: 1.38px solid var(--line-btn);
  border-radius: 50px;
  color: var(--line-btn);
  font-size: 22px;
  line-height: 100%;
  padding: 10px 25px;
  margin-bottom: 19px;
}

.faq-inp:last-of-type {
  margin-bottom: 51px;
}

.faq-btn {
  width: 220px;
  padding: 12px 38px;
  margin: auto;
}

.faq-text {
  text-align: center;
  margin-top: 52px;
}

.faq-link {
  color: var(--indication);
  border-bottom: 1px solid var(--indication);
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .faq {
    padding-top: 62px;
    padding-bottom: 42px;
  }

  .faq-title {
    margin-right: 10px;
  }

  .faq-subtitle {
    margin-top: 26px;
    margin-bottom: 50px;
    margin-left: 14px;
  }

  .faq-form {
    width: 379px;
  }

  .faq-inp {
    height: 42px;
    border: 2px solid var(--line-btn);
    padding: 10px 25px;
    margin-bottom: 17px;
    font-size: 20px;
    margin-left: -3px;
  }

  .faq-email {
    padding: 10px 23px;
  }

  .faq-inp:last-of-type {
    margin-bottom: 48px;
  }

  .faq-text {
    font-size: 17px;
    margin-top: 30px;
    margin-right: 2px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .faq {
    padding-top: 55px;
    padding-bottom: 38px;
  }

  .faq-title {
    font-size: 26px;
  }

  .faq-subtitle {
    font-size: 20px;
  }

  .faq-form {
    width: 350px;
  }

  .faq-inp {
    font-size: 18px;
  }

  .faq-inp:last-of-type {
    margin-bottom: 44px;
  }

  .faq-text {
    font-size: 17px;
  }
}

@media (min-width: 360px) and (max-width: 568px) {
  .faq-form {
    width: 97%;
    height: 100%;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .faq-form {
    width: 75%;
    height: 100%;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .faq {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .faq-inp {
    height: 38px;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .faq-inp:last-of-type {
    margin-bottom: 41px;
  }

  .faq-btn {
    width: 210px;
    padding: 10px 35px;
  }

  .faq-text {
    font-size: 14px;
    margin-top: 52px;
  }
}

@media (min-width: 320px) and (max-width: 359px) {
  .faq {
    padding-top: 23px;
    padding-bottom: 21px;
  }

  .faq-title {
    margin-right: 1px;
  }

  .faq-subtitle {
    margin-top: 14px;
    margin-bottom: 36px;
    font-size: 12px;
  }

  .faq-form {
    width: 289px;
    height: 100%;
  }

  .faq-inp {
    height: 30px;
    border: 1px solid var(--line-btn);
    font-size: 14px;
    padding: 7px 18px;
    margin-bottom: 13px;
  }

  .faq-email {
    padding: 6px 16px;
  }

  .faq-inp:last-of-type {
    margin-bottom: 44px;
    margin-top: -1px;
  }

  .faq-btn {
    width: 174px;
    padding: 10px 25px;
  }

  .faq-text {
    margin-top: 30px;
    font-size: 11px;
    line-height: 117%;
  }
}
