.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--fon-colors);
  color: var(--white);
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 9px;
}

.footer-block1 {
  display: flex;
  width: 213px;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 68px;
  height: 68px;
}

.footer-block2 {
  margin-left: 5px;
}

.footer-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 146%;
  margin-top: -2px;
}

.footer-author {
  font-weight: 500;
  font-size: 12px;
  line-height: 141%;
}

.footer-contacts {
  margin: 10px;
  margin-top: 8px;
}

.author {
  display: none;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .footer {
    padding-top: 18px;
    padding-bottom: 30px;
  }

  .footer-logo {
    width: 60px;
    height: 60px;
  }

  .footer-block {
    margin-left: 6px;
  }

  .footer-block1 {
    width: 206px;
  }

  .footer-text {
    line-height: 150%;
    margin-top: -1px;
  }

  .footer-contacts {
    margin: 9px;
    margin-top: 10px;
  }

  .footer-delite {
    display: none;
  }

  .footer-block2 {
    margin-left: 0px;
    margin-right: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding-top: 18px;
    padding-bottom: 25px;
  }

  .footer-logo {
    width: 40px;
    height: 40px;
  }

  .footer-block2 {
    display: none;
  }

  .author {
    display: block;
    text-align: center;
    background-color: var(--author-fon);
    color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-delite {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .footer {
    padding-top: 18px;
    padding-bottom: 25px;
  }

  .footer-block1 {
    width: 160px;
  }

  .footer-logo {
    width: 40px;
    height: 40px;
  }

  .footer-text {
    font-size: 10px;
  }

  .footer-block2 {
    display: none;
  }

  .author {
    display: block;
    text-align: center;
    background-color: var(--author-fon);
    color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-delite {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 359px) {
  .footer {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .footer-block {
    margin-left: 1px;
  }

  .footer-block1 {
    width: 133px;
  }

  .footer-logo {
    width: 30px;
    height: 30px;
  }

  .footer-block2 {
    display: none;
  }

  .footer-text {
    font-size: 8px;
    line-height: 163%;
    margin-top: -1px;
  }

  .footer-delite {
    display: none;
  }

  .author {
    display: block;
    text-align: center;
    background-color: var(--author-fon);
    color: var(--white);
    padding-top: 6px;
    padding-bottom: 8px;
    font-size: 12px;
  }
}
