.header {
  padding-top: 24px;
  padding-bottom: 105px;
  background-image: linear-gradient(var(--fon)), url(../img/header-fon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--inversion);
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin-left: 9px;
  width: 68px;
  height: 68px;
}

.header-block {
  margin-top: 115px;
}

.header-title {
  font-size: 52px;
  font-weight: 900;
  line-height: 116%;
  text-align: center;
  color: var(--block-title);
}

.header-text {
  text-align: center;
  font-size: 22px;
  line-height: 141%;
  width: 960px;
  margin: auto;
  margin-top: 34px;
}

.header-button {
  display: flex;
  justify-content: center;
  margin-top: 89px;
}

.header-btn {
  padding: 13px 48px;
}

.header-point {
  display: none;
}

.header-del {
  display: block;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .header {
    padding-top: 10px;
    padding-bottom: 55px;
  }

  .header-logo {
    margin-left: 6px;
    width: 60px;
    height: 60px;
  }

  .header-block {
    margin-top: 68px;
  }

  .header-title {
    font-size: 40px;
    margin: auto;
    width: 90%;
  }

  .header-text {
    font-size: 18px;
    width: 754px;
    margin-top: 29px;
  }

  .header-button {
    margin-right: 5px;
    margin-top: 56px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding-bottom: 40px;
  }

  .header-logo {
    margin-left: 5px;
    width: 50px;
    height: 50px;
  }

  .header-block {
    margin-top: 58px;
  }

  .header-title {
    font-size: 29px;
    width: 80%;
    margin: auto;
  }

  .header-text {
    font-size: 15px;
    width: 600px;
    margin-top: 29px;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .header {
    padding-top: 20px;
    padding-bottom: 35px;
  }

  .header-logo {
    margin-left: 5px;
    width: 50px;
    height: 50px;
  }

  .header-nav {
    align-items: center;
  }

  .header-block {
    margin-top: 50px;
  }

  .header-title {
    font-size: 24px;
  }

  .header-text {
    font-size: 13px;
    width: 100%;
    margin-top: 29px;
  }

  .header-button {
    margin-top: 59px;
  }

  .header-btn {
    padding: 9px 40px;
  }
}

@media (min-width: 320px) and (max-width: 359px) {
  .header {
    padding-top: 7px;
    padding-bottom: 57px;
  }

  .header-nav {
    align-items: center;
  }

  .header-logo {
    margin-left: 0px;
    width: 30px;
    height: 30px;
  }

  .header-block {
    margin-top: 66px;
  }

  .header-title {
    font-size: 20px;
  }

  .header-del {
    display: none;
  }

  .header-point {
    display: inline;
  }

  .header-text {
    font-size: 14px;
    width: 100%;
    margin-top: 25px;
    line-height: 141%;
  }

  .header-btn {
    padding: 9px 40px;
  }

  .header-button {
    margin-top: 53px;
  }
}

/* Состояние меню при открытии */
@media (max-width: 767px) {
  .header-nav.open {
    display: block; /* Или flex, смотря как сверстано */
    transform: translateX(0); /* Если используете анимацию выезда */
  }
}

/* Запрет скролла страницы при открытом меню */
.noscroll {
  overflow: hidden;
}

/* Чтобы слайдер в About был без полосы прокрутки на мобилках */
.about-block::-webkit-scrollbar {
  display: none;
}

.about-block {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
