* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 100%;
  color: var(--text-color);
}

.container {
  container-type: inline-size; /* Контейнер запросов по ширине */
  padding: 1rem;
  width: 1250px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 11px;
  margin-right: 9px;
}

.tel {
  font-size: 23.85px;
  line-height: 100%;
  margin-bottom: 8px;
}

.link {
  font-size: 16px;
  line-height: 100%;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--line-btn);
}

.title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

.subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
}

input {
  background-color: transparent;
  border: none;
  color: inherit
}

.btn {
  text-align: center;
  background-color: var(--related);
  border-radius: 50px;
  border: none;
  color: var(--white);
  font-weight: 500;
}

p {
  margin: 0;
  padding: 0;
}
