* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 100%;
  color: var(--text-color);
}

.container {
  container-type: inline-size; /* Контейнер запросов по ширине */
  padding: 1rem;
  width: 1250px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 11px;
  margin-right: 9px;
}

.contacts-picture {
  display: none;
}

.tel {
  font-size: 23.85px;
  line-height: 100%;
  margin-bottom: 8px;
}

.link {
  font-size: 16px;
  line-height: 100%;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--line-btn);
}

.tel:hover, .link:hover {
  color: var(--related);
  transition: color 0.3s ease;
}

.link:hover {
  border-bottom: 1px solid var(--related);
  transition: border-color 0.3s ease;
}

.tel:active, .link:active {
  color: var(--indication);
  transition: color 0.3s ease;
}

.link:active {
  border-bottom: 1px solid var(--indication);
  transition: border-color 0.3s ease;
}

.title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

.subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
}

input {
  background-color: transparent;
  border: none;
  color: inherit;
}

.btn {
  text-align: center;
  background-color: var(--related);
  border-radius: 50px;
  border: none;
  color: var(--white);
  font-weight: 500;
}

.btn:hover {
  background-color: var(--text-color);
  transition: background-color 0.3s ease;
}

.btn:active {
  background-color: var(--author-fon);  
  transition: background-color 0.3s ease;
}

p {
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .container {
    width: 1010px;
  }

  .contacts {
    margin: 7px;
    margin-right: 9px;
  }

  .tel {
    font-size: 21px;
    margin-bottom: 9px;
  }

  .link {
    font-size: 13px;
    padding-bottom: 4px;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 650px;
    padding: 0.5rem;
  }

  .tel {
    font-size: 16px;
  }

  .link {
    font-size: 10px;
  }

  .btn {
    font-size: 18px;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .container {
    width: 70%;
    padding: 0.5rem;
  }

  .contacts {
    display: none;
  }

  .contacts-picture {
    display: block;
  }

  .contact-img {
    width: 30px;
    height: 30px;
  }

  .btn {
    font-size: 18px;
  }

  .title {
    font-size: 22px;
    line-height: 100%;
  }

  .subtitle {
    font-size: 18px;
  }
}

@media (min-width: 320px) and (max-width: 359px) {
  .container {
    width: 95.5%;
    padding: 0.5rem;
  }

  .contacts {
    display: none;
  }

  .contacts-picture {
    display: block;
    width: 24px;
    height: 24px;
  }

  .contact-img {
    width: 24px;
    height: 24px;
  }

  .btn {
    font-size: 16px;
  }

  .title {
    font-size: 20px;
    line-height: 119%;
  }

  .subtitle {
    font-size: 16px;
  }
}

